@import url("https://fonts.cdnfonts.com/css/dante");

body {
    margin: 0;
    font-family: 'Dante' sans-serif;
}

.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #85a8c5;
}

.carousel {
    overflow: hidden;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner {
    white-space: nowrap;
    transition: transform 0.3s;
    box-shadow: 5px 0px 5px 5px rgba(75, 75, 75, 0.705);
}

.carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    background-color: #000;
}

.carousel-img {
    width: 250px;
    padding: 0 20px 0 20px;
}

.carousel-item-text {
    font-size: 1.15rem;
    margin: 40px 0 40px 0;
    padding: 0 20px 0 20px;
    white-space: normal;
    color: #fff;
}

.carousel-buttons {
    display: flex;
    justify-content: space-evenly;
}

.button-arrow {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.indicators {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.indicator-buttons {
    border: none;
    cursor: pointer;
}

.indicators > button {
    margin: 5px;
    background: none;
}

.indicator-symbol {
    color: #acacac;
}

.indicator-symbol-active {
    color: #ff0000;
}


